@model HPExpress.Context.User


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/assets/js/DateFormat.js"></script>
<script src="~/assets/js/PropCheckBox.js"></script>
<script src="~/assets/js/BillTable.js"></script>
@*Chức năng với datable*@
<!--<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>-->
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">Danh sách phiếu gửi</h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="#" class="text-muted">Quản lý phiếu</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Index","Waybill")" class="text-muted">Danh sách phiếu gửi</a>
                        </li>

                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->
            @if (ViewBag.CreateBill)
            {
                <div class="d-flex align-items-center">
                    <!--begin::Actions-->
                    <a class="btn btn-light-primary font-weight-bolder btn-sm">Thêm phiếu</a>
                    <!--end::Actions-->
                    <!--begin::Dropdown-->
                    <div class="dropdown dropdown-inline" data-toggle="tooltip" title="Quick actions" data-placement="left">
                        <a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="svg-icon svg-icon-primary svg-icon-2x">
                                <!--begin::Svg Icon | path:assets/media/svg/icons/Files/File-plus.svg-->
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24" />
                                        <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                        <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" fill="#000000" />
                                    </g>
                                </svg>
                                <!--end::Svg Icon-->
                            </span>
                        </a>


                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right p-0 m-0">
                            <!--begin::Navigation-->
                            <ul class="navi navi-hover">
                                <li class="navi-header font-weight-bold py-4">
                                    <span class="font-size-lg">Chọn loại:</span>
                                    <i class="flaticon2-information icon-md text-muted" data-toggle="tooltip" data-placement="right" title="Click to learn more..."></i>
                                </li>
                                <li class="navi-separator mb-3 opacity-70"></li>

                                <li class="navi-item" style="display:flex; justify-content:center">
                                    <a href="@Url.Action("Create/NetpostView","WayBill")" class="navi-link">
                                        <span class="navi-text">
                                            <span class="label label-xl label-inline label-light-danger">NETPOST</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="navi-item" style="display:flex; justify-content:center">
                                    <a href="@Url.Action("Create/ViettelPostView","WayBill")" class="navi-link">
                                        <span class="navi-text">
                                            <span class="label label-xl label-inline label-light-warning">VIETTELPOST</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="navi-item" style="display:flex; justify-content:center">
                                    <a href="@Url.Action("Create/TasetcoView","WayBill")" class="navi-link">
                                        <span class="navi-text">
                                            <span class="label label-xl label-inline label-light-primary">TASETCO</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="navi-item" style="display:flex; justify-content:center">
                                    <a href="javascript:;" id="openExcel" class="navi-link">
                                        <span class="navi-text">
                                            <span class="label label-xl label-inline label-light-success">Excel</span>
                                        </span>
                                    </a>
                                </li>

                            </ul>
                            <!--end::Navigation-->
                        </div>

                       

                    </div>
                    <!--end::Dropdown-->
                </div>
            }
                <!--end::Toolbar-->
            </div>
        
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">

            <!--begin::Card-->
            <div class="card card-custom">
                <div class="card-header flex-wrap border-0 pt-6 pb-0">
                    <div class="card-title">
                        <h3 class="card-label">
                            <b>
                                Danh sách phiếu gửi
                            </b>
                        </h3>
                    </div>
                    <div class="card-toolbar">
                        <!--begin::Dropdown-->
                        <div class="dropdown dropdown-inline mr-2">
                            <button type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="svg-icon svg-icon-md">
                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Design/PenAndRuller.svg-->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z" fill="#000000" opacity="0.3" />
                                            <path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z" fill="#000000" />
                                        </g>
                                    </svg>
                                    <!--end::Svg Icon-->
                                </span>Xuất
                            </button>
                            <!--begin::Dropdown Menu-->
                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                <!--begin::Navigation-->
                                <ul class="navi flex-column navi-hover py-2">
                                    <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">Chọn:</li>
                                    
                                    <li class="navi-item">
                                        <a href="javascript:;" id="exportExcel" class="navi-link">
                                            <span class="navi-icon">
                                                <i class="la la-file-excel-o"></i>
                                            </span>
                                            <span class="navi-text">Excel</span>
                                        </a>
                                    </li>
                                    
                                </ul>

                                <!--end::Navigation-->
                            </div>
                            <!--end::Dropdown Menu-->
                        </div>
                        <!--end::Dropdown-->
                        <!--begin::Button-->
                        <!--end::Button-->
                    </div>
                </div>
                <div class="card-body">

                    <!--begin::Search Form-->
                    <form class="mb-15">
                        <div class="row mb-6">
                            <div class="col-lg-4 mb-lg-0 mb-6">
                                <label>Search:</label>
                                <div class="input-icon">
                                    <input type="text" class="form-control" placeholder="Search..." id="searchInput" />
                                    <span>
                                        <i class="flaticon2-search-1 text-muted"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-lg-0 mb-6">
                                <label>Đơn vị vận chuyển: </label>
                                <select class="form-control" id="kt_datatable_search_status">
                                    <option value="">Tất cả</option>
                                    @foreach (var Prov in ViewBag.ProvList)
                                    {
                                        <option value="@Prov.ProviderID">@Prov.ProviderName</option>
                                    }
                                </select>
                            </div>
                            <div class="col-lg-4 mb-lg-0 mb-6">
                                <label>Ngày gửi:</label>
                                <div class='input-group' id='kt_daterangepicker_2'>
                                    <input type='text' class="form-control" readonly placeholder="Tìm kiểm theo ngày" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="la la-calendar-check-o"></i></span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row mb-8">


                            @if (Model.RoleID != 2 && Model.RoleID != 3)
                            {
                                <div class="col-lg-4 mb-lg-0 mb-6">
                                    <label>Phòng - Ban:</label>
                                    <select class="form-control datatable-input" id="datable_search_department">
                                        <option value="">Tất cả</option>
                                        @foreach (var Dep in ViewBag.DepartList)
                                        {
                                            <option value="@Dep.DepartmentID">@Dep.DepartmentName</option>
                                        }
                                    </select>
                                </div>
                            }
                            @if (Model.RoleID != 3)
                            {


                                <div class="col-lg-4 mb-lg-0 mb-6">
                                    <label>Nhân viên:</label>
                                    <select class="form-control datatable-input" id="datable_search_user">

                                        <option value="">Tất cả</option>
                                        @foreach (var User in ViewBag.UserList)
                                        {
                                            if (Model.UserID == User.UserID)
                                            {
                                                <option value="@User.UserID">Tôi</option>
                                            }
                                            else
                                            {
                                                <option value="@User.UserID">@User.FullName</option>
                                            }

                                        }

                                    </select>
                                </div>



                            }
                            <div class="col-lg-4 mb-lg-0 mb-6">
                                <label>Trạng thái:</label>
                                <select class="form-control datatable-input" id="datable_search_stt">

                                    <option value="">Tất cả</option>
                                    @foreach (var stt in ViewBag.statuslst)
                                    {
                                        <option value="@stt.StatusID">@stt.StatusName</option>

                                    }

                                </select>
                            </div>
                        </div>

                    </form>

                    <!--end::Search Form-->
                    <!--begin: Datatable-->
                    <div class="table-responsive-xl">
                        <div style="display:flex; justify-content:center"> <div id="loading" class="spinner spinner-primary spinner-lg mr-15"></div> </div>

                        <table class="table" id="billtable">
                        </table>

                    </div>
                    <div id="empty" style="display:flex; justify-content:center"> </div>
                    <div class="d-flex justify-content-between align-items-center flex-wrap">

                        <div class="d-flex flex-wrp py-2 mr-3" id="billpagi">


                        </div>
                        <div class="d-flex align-items-center py-3" id="billnote">


                        </div>
                    </div>
                    <!--end: Datatable-->
                </div>
                <div id="dvjson"></div>

            </div>
            <!--end::Card-->
            <!--start::Modal ImportExcel-->

            <div class="modal fade" id="importFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centere modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"><b>Nhập dữ liệu bằng Excel:</b></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i aria-hidden="true" class="ki ki-close"></i>
                            </button>
                        </div>
                        <div id="body" class="modal-body">

                            <form>

                                <label class="form-label" for="customFile">Chọn file Excel:</label>
                                <input type="file" class="form-control" id="filename" accept=".xls,.xlsx" />

                            </form>
                        </div>
                        <div id="footer" class="modal-footer">
                            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                            <button type="button" id="saveExcel" onclick="uploadFile()" class="btn btn-primary font-weight-bold">Lưu dữ liệu</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--end::Modal ImportExcel-->
            <!--start::Modal Netpost-->
            <div class="modal fade" id="NetpostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"><b><span style="color: #7d2f2f;">NET</span><span style="color:#ea3639;">POST</span></b></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i aria-hidden="true" class="ki ki-close"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form" action="/" method="post" id="edt_netpost_form">
                                <input hidden id="net_bill_id" name="bill_id" value="" />
                                <input hidden id="net_user_id" name="user_id" value="" />
                                <div class="alert alert-custom alert-light-success d-none" role="alert" id="kt_form_2_msg">
                                    <div class="alert-icon">
                                        <i class="flaticon2-bell-5"></i>
                                    </div>
                                    <div class="alert-text font-weight-bold">Oh snap! Change a few things up and try submitting again.</div>
                                    <div class="alert-close">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span>
                                                <i class="ki ki-close"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                @Html.AntiForgeryToken()
                                <input hidden type="text" name="prov_id" class="form-control" value="1" />

                                <div class="mb-3">
                                    <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10"><b>1. Thông tin người gửi:</b></h3>
                                    <div class="mb-2">
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <label> Mã khách hàng:<span class="text-danger">*</span></label>
                                                <input data-vali="true" type="text" name="billing_card_name" class="form-control" readonly placeholder="" value="70187" />
                                            </div>


                                            <div class="col-lg-6">
                                                <label> Người gửi:<span class="text-danger">*</span></label>
                                                <br />
                                                <select name="owner_id" id="net_owner_id" class="selectpicker" data-width="100%" data-live-search="true">
                                                    @foreach (var u in ViewBag.lstOwner)
                                                    {
                                                        if (u.UserID == Model.UserID)
                                                        {
                                                            <option value="@u.UserID" data-tokens="@u.FullName" >Tôi</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@u.UserID" data-tokens="@u.FullName">@u.FullName</option>
                                                        }

                                                    }

                                                </select>

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <label> Địa chỉ:<span class="text-danger">*</span></label>
                                                <textarea data-vali="true" rows="4" style="resize:none ;" readonly class="form-control">Số 758/25/2b Xô Viết Nghệ Tĩnh, Phường 25, Quận Bình Thạnh, TP. Hồ Chí Minh</textarea>
                                            </div>


                                            <div class="col-lg-6">
                                                <label> Số điện thoại:<span class="text-danger">*</span></label>
                                                <input data-vali="true" type="text" name="comp_phone" id="net_comp_phone" class="form-control" placeholder="Nhập số điện thoại" value="" />
                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <div class="separator separator-dashed my-10"></div>
                                <div class="mb-3">
                                    <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10"><b>2. Thông tin người nhận:</b></h3>
                                    <div class="mb-2">
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <label> Công ty nhận (khách lẻ):<span class="text-danger">*</span></label>
                                                <input data-vali="true" type="text" id="net_customer_comp" name="customer_comp" class="form-control" placeholder="" value="" />
                                            </div>


                                            <div class="col-lg-6">
                                                <label> Người nhận:<span class="text-danger">*</span></label>
                                                <input data-vali="true" type="text" id="net_customer_name" name="customer_name" class="form-control" placeholder="" value="" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <label> Địa chỉ:<span class="text-danger">*</span></label>
                                                <textarea data-vali="true" id="net_customer_add" name="customer_add" rows="4" style="resize:none ;" class="form-control"></textarea>
                                            </div>


                                            <div class="col-lg-6">
                                                <label> Số điện thoại:<span class="text-danger">*</span></label>
                                                <input data-vali="true" type="text" id="net_cus_phone" name="cus_phone" class="form-control" placeholder="" value="" />
                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <div class="separator separator-dashed my-10"></div>
                                <div class="mb-3">
                                    <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10">
                                        <b>3. Nội dung BPBK</b>
                                        <i data-toggle="tooltip" data-width="auto" class="mb-3__help" title="If different than the corresponding address"></i>
                                    </h3>
                                    <div class="mb-2">

                                        <div class="form-group row">
                                            <div class="col-lg-12">
                                                <label>Nội dung <span class="text-danger">*</span></label>
                                                <input data-vali="true" type="text" id="net_content" name="content" class="form-control" placeholder="Nhập nội dung" value="" />
                                            </div>

                                        </div>

                                        <div class="form-group row">

                                            <div class="col-lg-6">
                                                <label class="col-form-label">Loại sản phẩm<span class="text-danger">*</span></label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" data-check="false" id="net_CatBox1" value="1" name="CatBox" />
                                                    <label class="form-check-label">Tài liệu</label>

                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" data-check="false" id="net_CatBox2" value="2" name="CatBox" />
                                                    <label class="form-check-label">Hàng Hóa</label>

                                                </div>






                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-12">
                                                <label>Số kiện <span class="text-danger">*</span></label>
                                                <input data-vali="true" type="number" id="net_package_numb" name="package_numb" class="form-control" placeholder="Nhập số kiện" value="" />
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <label>Trọng lượng<span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <input data-vali="true" id="net_pro_wei" name="pro_wei" type="number" class="form-control" placeholder="Nhập trọng lượng" />

                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">kg</span>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Kích thước:</label>
                                                <div class="input-group">
                                                    <input type="number" id="net_pro_leng" name="pro_leng" class="form-control" placeholder="Nhập chiều dài" />
                                                    <input type="number" id="net_pro_wid" name="pro_wid" class="form-control" placeholder="Nhập chiều rộng" />
                                                    <input type="number" id="net_pro_hei" name="pro_hei" class="form-control" placeholder="Nhập chiều cao" />
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">m</span>

                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="separator separator-dashed my-10"></div>
                                <div class="mb-3">
                                    <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10"><b>4. Hình thức vận chuyển:</b></h3>
                                    <div class="mb-2">
                                        <div class="form-group row">
                                            <div class="col-lg-12">
                                                <label>Chọn hình thức vận chuyển:<span class="text-danger">*</span></label>
                                                <div class="radio-inline">
                                                    <label class="radio">
                                                        <input type="radio" id="net_transRadio1" checked value="1" name="transRadios" />
                                                        <span></span>
                                                        Chuyển phát nhanh
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" id="net_transRadio2" value="2" name="transRadios" />
                                                        <span></span>
                                                        Phát theo YC, hỏa tốc
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" id="net_transRadio8" value="8" name="transRadios" />
                                                        <span></span>
                                                        Phát theo chủ nhật, Ngày lễ
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" id="net_transRadio16" value="16" name="transRadios" />
                                                        <span></span>
                                                        Hàng GTC, hàng Express
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" id="net_transRadio3" value="3" name="transRadios" />
                                                        <span></span>
                                                        Tiêu chuẩn/ 30-36h
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" id="net_transRadio4" value="4" name="transRadios" />
                                                        <span></span>
                                                        Tiết kiệm/ 48h
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" id="net_transRadio5" value="5" name="transRadios" />
                                                        <span></span>
                                                        Chuyển thường/ Đường bộ
                                                    </label>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="separator separator-dashed my-10"></div>
                                <div class="mb-3">
                                    <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10"><b>5. Hình thức thanh toán:</b></h3>
                                    <div class="mb-2">
                                        <div class="form-group row">
                                            <div class="col-lg-12">
                                                <label>Chọn hình thức thanh toán: <span class="text-danger">*</span></label>
                                                <div class="radio-inline">
                                                    <label class="radio">
                                                        <input type="radio" checked id="net_paymentRadio1" value="1" name="paymentRadios" />
                                                        <span></span>
                                                        Thanh toán ngay
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" id="net_paymentRadio2" value="2" name="paymentRadios" />
                                                        <span></span>
                                                        Thanh toán cuối tháng
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" id="net_paymentRadio3"  value="3" name="paymentRadios" />
                                                        <span></span>
                                                        Thanh toán đầu nhận
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" id="net_paymentRadio4" value="4" name="paymentRadios" />
                                                        <span></span>
                                                        Thanh toán Đầu nhận - Cuối tháng
                                                    </label>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="separator separator-dashed my-10"></div>





                                <div class="mb-3">
                                    <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10"><b>6. Dịch vụ gia tăng:</b></h3>
                                    <div class="mb-2">
                                        <div class="form-group row">
                                            <div class="col-lg-12">
                                                <label>Chọn dịch vụ gia tăng: </label>
                                                <div class="radio-inline">
                                                    <label class="radio">
                                                        <input type="radio" id="net_serviceRadio1" value="1" name="serviceRadios" />
                                                        <span></span>
                                                        Báo phát
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" id="net_serviceRadio2" value="2" name="serviceRadios" />
                                                        <span></span>
                                                        Đồng kiểm
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" id="net_serviceRadio3" value="3" name="serviceRadios" />
                                                        <span></span>
                                                        Phát tận tay
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                            <button type="button" id="net_save" class="btn btn-primary font-weight-bold">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Modal Netpost-->
            <!--start::Modal Viettel-->
            <div class="modal fade" id="ViettelPostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"><b><span style="color: #01766b;">VIETTEL</span><span style="color: #f27510;">POST</span></b></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i aria-hidden="true" class="ki ki-close"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="form" action="/" method="post" id="edt_viettel_form">
                                <input hidden id="vt_bill_id" name="bill_id" value="" />
                                <input hidden id="vt_user_id" name="user_id" value="" />
                                @Html.AntiForgeryToken()
                                <input hidden type="text" name="prov_id" class="form-control" value="2" />

                                <div class="alert alert-custom alert-light-success d-none" role="alert" id="kt_form_2_msg">
                                    <div class="alert-icon">
                                        <i class="flaticon2-bell-5"></i>
                                    </div>
                                    <div class="alert-text font-weight-bold">Oh snap! Change a few things up and try submitting again.</div>
                                    <div class="alert-close">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span>
                                                <i class="ki ki-close"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>




                                <div class="mb-3">
                                    <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10"><b>1. Thông tin người gửi:</b></h3>
                                    <div class="mb-2">
                                        <div class="form-group row">

                                            <div class="col-lg-6">
                                                <label> Người gửi:<span class="text-danger">*</span></label>
                                                <br />
                                                <select name="owner_id" id="vt_owner_id" class="selectpicker" data-width="100%" data-live-search="true">
                                                    @foreach (var u in ViewBag.lstOwner)
                                                    {
                                                        if (u.UserID == Model.UserID)
                                                        {
                                                            <option value="@u.UserID" data-tokens="@u.FullName" selected>Tôi</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@u.UserID" data-tokens="@u.FullName">@u.FullName</option>
                                                        }

                                                    }

                                                </select>

                                            </div>
                                            <div class="col-lg-6">
                                                <label> Số điện thoại:<span class="text-danger">*</span></label>
                                                <input data-vali="true" type="text" name="comp_phone" id="vt_comp_phone" class="form-control" placeholder="Nhập số điện thoại người gửi" value="" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-12">
                                                <label> Địa chỉ:<span class="text-danger">*</span></label>
                                                <textarea data-vali="true" rows="4" readonly style="resize:none ;" class="form-control">Số 758/25/2b Xô Viết Nghệ Tĩnh, Phường 25, Quận Bình Thạnh, TP. Hồ Chí Minh</textarea>
                                            </div>



                                        </div>



                                    </div>
                                </div>
                                <div class="separator separator-dashed my-10"></div>
                                <div class="mb-3">
                                    <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10"><b>2. Thông tin người nhận:</b></h3>
                                    <div class="mb-2">
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <label>Công ty nhận :<span class="text-danger">*</span></label>
                                                <input data-vali="true" type="text" id="vt_customer_comp" name="customer_comp" class="form-control" placeholder="Nhập tên công ty" value="" />
                                            </div>


                                            <div class="col-lg-6">
                                                <label> Người nhận:<span class="text-danger">*</span></label>
                                                <input data-vali="true" type="text" id="vt_customer_name" name="customer_name" class="form-control" placeholder="Nhập tên người nhận" value="" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <label> Địa chỉ:<span class="text-danger">*</span></label>
                                                <textarea data-vali="true" id="vt_customer_add" name="customer_add" rows="4" style="resize:none ;" class="form-control" placeholder="Nhập địa chỉ nhận"></textarea>
                                            </div>


                                            <div class="col-lg-6">
                                                <label> Số điện thoại:<span class="text-danger">*</span></label>
                                                <input data-vali="true" type="text" name="cus_phone" id="vt_cus_phone" class="form-control" placeholder="Nhập số điện thoại nhận" value="" />
                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <div class="separator separator-dashed my-10"></div>
                                <div class="mb-3">
                                    <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10">
                                        <b>3. Nội dung BPBK</b>
                                        <i data-toggle="tooltip" data-width="auto" class="mb-3__help" title="If different than the corresponding address"></i>
                                    </h3>
                                    <div class="mb-2">

                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <label>Nội dung <span class="text-danger">*</span></label>
                                                <input data-vali="true" type="text" id="vt_content" name="content" class="form-control" placeholder="Nhập nội dung" value="" />
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Số kiện <span class="text-danger">*</span></label>
                                                <input data-vali="true" type="number" id="vt_package_numb" name="package_numb" class="form-control" placeholder="Nhập số kiện" value="" />
                                            </div>
                                        </div>




                                        <div class="form-group row">
                                            <div class="col-lg-6">
                                                <label>Trọng lượng<span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <input data-vali="true" id="vt_pro_wei" name="pro_wei" type="number" class="form-control" placeholder="Nhập trọng lượng" />

                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">kg</span>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Kích thước:</label>
                                                <div class="input-group">
                                                    <input type="number" id="vt_pro_leng" name="pro_leng" class="form-control" placeholder="Nhập chiều dài" />
                                                    <input type="number" id="vt_pro_wid" name="pro_wid" class="form-control" placeholder="Nhập chiều rộng" />
                                                    <input type="number" id="vt_pro_hei" name="pro_hei" class="form-control" placeholder="Nhập chiều cao" />
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">m</span>

                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group row">

                                            <div class="col-lg-6">
                                                <label class="col-form-label">Loại sản phẩm<span class="text-danger">*</span></label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" data-check="false" id="vt_CatBox1" value="2" name="CatBox" />
                                                    <label class="form-check-label">Hàng Hóa</label>

                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" data-check="false" id="vt_CatBox2" value="1" name="CatBox" />
                                                    <label class="form-check-label">Tài liệu</label>

                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" data-check="false" id="vt_CatBox3" value="3" name="CatBox" />
                                                    <label class="form-check-label">Hóa chất</label>

                                                </div>



                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="separator separator-dashed my-10"></div>
                                <div class="mb-3">
                                    <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10"><b>4. Hình thức vận chuyển:</b></h3>
                                    <div class="mb-2">
                                        <div class="form-group row">
                                            <div class="col-lg-12">
                                                <label>Chọn hình thức vận chuyển:<span class="text-danger">*</span></label>
                                                <div class="radio-inline">
                                                    <label class="radio">
                                                        <input type="radio" id="vt_transRadio1" checked value="1" name="transRadios" />
                                                        <span></span>
                                                        Chuyển phát nhanh
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" id="vt_transRadio7" value="7" name="transRadios" />
                                                        <span></span>
                                                        Chuyển phát tiết kiệm
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" id="vt_transRadio6" value="6" name="transRadios" />
                                                        <span></span>
                                                        Giao hàng thu tiền
                                                    </label>




                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="separator separator-dashed my-10"></div>
                                <div class="mb-3">
                                    <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10"><b>5. Hình thức thanh toán:</b></h3>
                                    <div class="mb-2">
                                        <div class="form-group row">
                                            <div class="col-lg-12">
                                                <label>Chọn hình thức thanh toán: <span class="text-danger">*</span></label>
                                                <div class="radio-inline">
                                                    <label class="radio">
                                                        <input type="radio" checked id="vt_paymentRadio1" value="1" name="paymentRadios" />
                                                        <span></span>
                                                        Người gửi
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" value="3" id="vt_paymentRadio3" name="paymentRadios" />
                                                        <span></span>
                                                        Người nhận
                                                    </label>


                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>









                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary font-weight-bold" id="vt_save">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Modal Viettel-->
            <!--start::Detail Netpost-->
            <div class="modal fade" id="DetailsNetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog  modal-xl" role="document">
                    <div class="modal-content">
                       
                        <div class="modal-body">
                            <div class="card card-custom overflow-hidden" id="billdetail">
                                <div class="card-body p-0">
                                    <!-- begin: Invoice-->
                                    <!-- begin: Invoice header-->
                                    <div class="row justify-content-center ">
                                        <div class="col-md-9">
                                            <div class="d-flex justify-content-between pb-10 pb-md-20 flex-column flex-md-row">
                                                <h1 id="proName" class="display-4 font-weight-boldest mb-10">INVOICE</h1>
                                                <div class="d-flex flex-column align-items-md-end px-0">
                                                    <!--begin::Logo-->
                                                    <a href="#" class="mb-5">
                                                        <img src="assets/media/logos/logo-dark.png" alt="" />
                                                    </a>
                                                    <!--end::Logo-->
                                                    <span class="d-flex flex-column align-items-md-end opacity-70">
                                                        <span>Số 758/25/2b Xô Viết Nghệ Tĩnh, Phường 25,</span>
                                                        <span> Quận Bình Thạnh, TP. Hồ Chí Minh</span>
                                                        
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="border-bottom w-100"></div>
                                            <div class="d-flex justify-content-between pt-6">
                                                <div class="d-flex flex-column flex-root">
                                                    <span class="font-weight-bolder mb-2">NGÀY GỬI</span>
                                                    <span id="dateShip" class="opacity-70"></span>
                                                </div>
                                                <div class="d-flex flex-column flex-root">
                                                    <span class="font-weight-bolder mb-2">MÃ PHIẾU</span>
                                                    <span id="billID" class="opacity-70"></span>
                                                </div>
                                                <div class="d-flex flex-column flex-root">
                                                    <span class="font-weight-bolder mb-2">NƠI NHẬN</span>
                                                    <span id="cusInfo" class="opacity-70">
                                                        
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end: Invoice header-->
                                    <!-- begin: Invoice body-->
                                    <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                                        <div class="col-md-9">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    @*<thead>
                                                        <tr>
                                                            <th class="pl-0 font-weight-bold text-muted text-uppercase">Description</th>
                                                            <th class="text-right font-weight-bold text-muted text-uppercase">Hours</th>
                                                            <th class="text-right font-weight-bold text-muted text-uppercase">Rate</th>
                                                            <th class="text-right pr-0 font-weight-bold text-muted text-uppercase">Amount</th>
                                                        </tr>
                                                    </thead>*@
                                                    <tbody id="bodyTable">
                                                        <tr class="font-weight-boldest border-bottom-0">
                                                            <td class="pl-0 pt-7">Creative Design</td>
                                                            <td class="text-right pt-7">80</td>
                                                            
                                                        </tr>
                                                        <tr class="font-weight-boldest border-bottom-0">
                                                            <td class="border-top-0 pl-0 py-4">Front-End Development</td>
                                                            <td class="text-danger border-top-0 text-right py-4">120</td>
                                                           
                                                        </tr>
                                                       
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end: Invoice body-->
                                    <!-- begin: Invoice footer-->
                                    @*<div class="row justify-content-center bg-gray-100 py-8 px-8 py-md-10 px-md-0">
                                        <div class="col-md-9">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th class="font-weight-bold text-muted text-uppercase">BANK</th>
                                                            <th class="font-weight-bold text-muted text-uppercase">ACC.NO.</th>
                                                            <th class="font-weight-bold text-muted text-uppercase">DUE DATE</th>
                                                            <th class="font-weight-bold text-muted text-uppercase">TOTAL AMOUNT</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="font-weight-bolder">
                                                            <td>BARCLAYS UK</td>
                                                            <td>12345678909</td>
                                                            <td>Jan 07, 2018</td>
                                                            <td class="text-danger font-size-h3 font-weight-boldest">20,600.00</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>*@
                                    <!-- end: Invoice footer-->
                                    <!-- begin: Invoice action-->
                                    <!--<div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                                        <div class="col-md-9">
                                            <div class="d-flex justify-content-between">
                                                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>-->
                                                @*<button type="button" class="btn btn-primary font-weight-bold" onclick="printDetailBill();">In Phiếu</button>*@
                                            <!--</div>
                                        </div>
                                    </div>-->
                                    <!-- end: Invoice action-->
                                    <!-- end: Invoice-->
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>
            <!--end::Modal Netpost-->
        </div>
       
    </div>
    <!--end::Entry-->
    @*billtable*@
    <div id="billform" hidden style="justify-content: center; display: flex; margin: 72.0pt 72.0pt 72.0pt 72.0pt; font-family: Arial, Helvetica, sans-serif; font-weight: bold;">

    </div>
    @*endtable*@
    <div id="qrcode"></div>

</div>
<!--end::Content-->
<!--begin::Page Scripts(used by this page)-->

<script src="~/assets/js/changeBillID.js"></script>
<script src="~/assets/js/BillSearch.js" id="scrUserInf" data-roleid=@Model.RoleID data-depid=@Model.DepartmentID></script>
<script src="~/assets/js/pages/crud/forms/widgets/bootstrap-daterangepicker.js"></script>
<script src="~/assets/js/JSBarcode.min.js"></script>
<script src="~/assets/js/qrcode.js"></script>
<script src="~/assets/js/pages/my-script.js"></script>
<script src="~/assets/js/BillTable.js"></script>
<script src="~/Scripts/excelexport.js"></script>
<script src="~/Scripts/jquery.scannerdetection.js"></script>
<script src="~/assets/js/ImportExcel.js"></script>
<script src="~/assets/js/ExportExcel.js"></script>
<script src="~/assets/js/EditBill/Netpost.js"></script>
<script src="~/assets/js/EditBill/Viettelpost.js"></script>
<script type="text/javascript">
    function printDetailBill() {
        var printContents = document.getElementById("billdetail").innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;

    }
    $(document).scannerDetection({
        timeBeforeScanTest: 200, // wait for the next character for upto 200ms
        startChar: [120], // Prefix character for the cabled scanner (OPL6845R)
        endChar: [13], // be sure the scan is complete if key 13 (enter) is detected
        avgTimeByChar: 40, // it's not a barcode if a character takes longer than 40ms
        onComplete: function (barcode, qty) {
            validScan = true;

            if ($('.txtbillid').length > 0) {
                $('.txtbillid').val(barcode);
                id = $('.txtbillid').parent().parent().attr('id')
                savebill(id)
            } else {
                var myElement = document.getElementById('searchInput');
                if (myElement == document.activeElement) {
                    myElement.value = barcode

                }
                else {
                    var check =  @Html.Raw(Json.Encode(@ViewBag.lstper));

                    if (check.includes("ShipBill")) {
                        Swal.fire({
                            title: "Gửi phiếu " + barcode+" ?",
                            text: "Thao tác này có thể ảnh hưởng đến dữ liệu hệ thống!",
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonText: "Có!",
                            cancelButtonText: "Không!",
                            reverseButtons: true,
                            heightAuto: false
                        }).then(function (result) {
                            var page = $("#billpagi a.active").data('page')
                            var RoleID = $("#scrUserInf").data('roleid')
                            var DepID = $("#scrUserInf").data('depid')
                            var UserID = $("#UserID").val()
                            if (result.value) {
                                shipBill(barcode)
                                // result.dismiss can be "cancel", "overlay",
                                // "close", and "timer"
                            } else if (result.dismiss === "cancel") {
                                Swal.fire({
                                    icon: "success",
                                    title: "Dữ liệu vẫn an toàn",
                                    showConfirmButton: false,
                                    heightAuto: false,
                                    timer: 2000
                                }).then(function () {

                                    billsearch(page, RoleID, DepID, UserID)


                                })
                            }
                        });


                    }
                }


            }



        } // main callback function


    });
    //Đổi mã phiếu với máy quét
    function savebill(id) {

        var check = true
        var value = $('input[name=' + id + ']').val()
        var span = $('#vali_' + id + '')
        span.text('')
        if (value.length < 8 || value.length > 10) {
            span.text('Mã phải có độ dài từ 8 - 10 ký tự!')
            check = false
        }
        if (check) {
            Swal.fire({
                title: "Bạn có chắc muốn thay đổi?",
                text: "Thao tác này có thể ảnh hưởng đến dữ liệu hệ thống!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Có!",
                cancelButtonText: "Không!",
                reverseButtons: true,
                heightAuto: false
            }).then(function (result) {
                var page = $("#billpagi a.active").data('page')
                var RoleID = $("#scrUserInf").data('roleid')
                var DepID = $("#scrUserInf").data('depid')
                var UserID = $("#UserID").val()
                if (result.value) {
                    $.ajax({
                        type: "post",
                        url: HOST_URL + 'Waybill/changeBillID',
                        data: {
                            oldid: id,
                            newid: value
                        },
                        datatype: 'json',

                        success: function (data) {
                            if (data.status == "success") {
                                Swal.fire(
                                    Swal.fire({

                                        icon: "success",
                                        title: "Phiếu đã được cập nhật mã",
                                        showConfirmButton: false,
                                        heightAuto: false,
                                        timer: 2000
                                    }).then(function () {
                                        billsearch(page, RoleID, DepID, UserID)
                                    })
                                ).then(function () {

                                    billsearch(page, RoleID, DepID, UserID)


                                })
                            } else {
                                Swal.fire({
                                    icon: "error",
                                    title: data.message,
                                    showConfirmButton: false,
                                    heightAuto: false,
                                    timer: 2000
                                })
                            }
                        },
                        error: function (errorResult) {
                            console.log(errorResult.responseText)
                        }
                    })


                    // result.dismiss can be "cancel", "overlay",
                    // "close", and "timer"
                } else if (result.dismiss === "cancel") {
                    Swal.fire({
                        icon: "success",
                        title: "Dữ liệu vẫn an toàn",
                        showConfirmButton: false,
                        heightAuto: false,
                        timer: 2000
                    }).then(function () {

                        billsearch(page, RoleID, DepID, UserID)


                    })
                }
            });
        }

    }
    //hết


    //Quét gửi khi gửi đơn
    function shipBill(id) {
        var page = $("#billpagi a.active").data('page')
        var RoleID = $("#scrUserInf").data('roleid')
        var DepID = $("#scrUserInf").data('depid')
        var UserID = $("#UserID").val()

        $.ajax({
            type: "post",
            url: HOST_URL + 'Waybill/updateStatus',
            data: {
                id: id
            },
            datatype: 'json',

            success: function (data) {
                if (data.status == "success") {
                    Swal.fire({

                        icon: "success",
                        title: "Phiếu đã được cập nhật trạng thái",
                        showConfirmButton: false,
                        timer: 1000,
                        heightAuto: false
                    }).then(function () {
                        billsearch(page, RoleID, DepID, UserID)
                    })
                } else {
                    Swal.fire({
                        icon: "error",
                        title: data.message,
                        showConfirmButton: false,
                        timer: 1000,
                        heightAuto: false
                    })
                }
            },
            error: function (errorResult) {
                console.log(errorResult.responseText)
            }
        })
    }
    //hết

    $(document).ready(function () {
        var RoleID = @Model.RoleID;
        var DepID = @Model.DepartmentID;
        var UserID = @Model.UserID;
        AuthRole(DepID, UserID)
         @*var lstper = @ViewBag.lstper;
         console.log(lstper)*@

       
        setInterval(function () {
            billsearch("", RoleID, DepID, UserID)
        }, 5000)

        $("#searchInput").on("keyup", function () {
            billsearch("", RoleID, DepID, UserID)

        });
        $('#kt_datatable_search_status').on('change', function () {
            billsearch("", RoleID, DepID, UserID)

        });
        $('#datable_search_department').on('change', function () {

            billsearchForDep("", RoleID, DepID, UserID)
            setUserByDepart($(this).val())


        });
        $('#datable_search_user').on('change', function () {

            billsearch("", RoleID, DepID, UserID)

        });
        $('#datable_search_stt').on('change', function () {



            billsearch("", RoleID, DepID, UserID)

        });
        $('.applyBtn').on('click', function () {

            var date = $('.drp-selected').text()
            var value = $('#searchInput').val().toLowerCase();
            var id = $('#kt_datatable_search_status').val()
            /* showtable(id, date, value)*/
            billsearch("", RoleID, DepID, UserID)

        });
        $('.cancelBtn').on('click', function () {
            billsearch("", RoleID, DepID, UserID)
        });

        $('#exportExcel').on('click', function () {



            billExport(RoleID, DepID, UserID)

        });
        //$('#btn_search').on('click', function () {
        //    var QR_CODE = new QRCode(document.getElementById("qrcode"), {
        //        width: 100,
        //        height: 100,


        //        correctLevel: QRCode.CorrectLevel.M,
        //    });
        //    QR_CODE.makeCode("123456");
        //});
    });
</script>

@*<script src="~/assets/js/pages/crud/ktdatatable/base/data-json.js"></script>*@
<!--end::Page Scripts-->